Caiso.WebServices/CMRItoSharepoint/Connected Services/GasBurnSummary/RequestGasBurnSummaryData_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://langdale.com.au/2005/Message#" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:m="http://www.caiso.com/soa/RequestGasBurnSummaryData_v1.xsd#" xmlns:a="http://langdale.com.au/2005/Message#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.caiso.com/soa/RequestGasBurnSummaryData_v1.xsd#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>v1 : Fall 2017</xs:documentation>
  </xs:annotation>
  <xs:element name="RequestGasBurnSummaryData" type="m:RequestGasBurnSummaryData" />
  <xs:complexType name="RequestGasBurnSummaryData">
    <xs:sequence>
      <xs:element name="MessageHeader" type="m:MessageHeader" />
      <xs:element name="MessagePayload" type="m:MessagePayload" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageHeader">
    <xs:annotation>
      <xs:documentation>Message header containing descriptive information about the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TimeDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Application level relevant time and date for when this  instance of the message was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Source" type="xs:string">
        <xs:annotation>
          <xs:documentation>Source system which provides data for this service. Examples include ADS, CMRI, EMS, IFM, RLC, RTM, SIBR, SLIC, External App, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="v20171001" name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Date reflecting the release this latest version update was related to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessagePayload">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RequestGasBurnSummaryRecord" type="m:RequestGasBurnSummaryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasCompanyList" name="GasCompanyList">
    <xs:annotation>
      <xs:documentation>Specifies the Gas Company unique identifiers that may be used in a report request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasCompanyList.gasCompany" minOccurs="1" maxOccurs="1" name="gasCompany" type="xs:string">
        <xs:annotation>
          <xs:documentation>The gas company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZone" name="GasZone">
    <xs:annotation>
      <xs:documentation>The class representing the various gas zone levels for Gas Burn Data reporting.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#Naming.name" minOccurs="1" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique name among objects owned by the same parent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZone.summaryLevel" minOccurs="1" maxOccurs="1" name="summaryLevel" type="m:GasZoneSummaryLevel">
        <xs:annotation>
          <xs:documentation>The summary level at which the gas zone is defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZoneSummaryLevel" name="GasZoneSummaryLevel">
    <xs:annotation>
      <xs:documentation>The enumeration list to define the summary level for gas burn data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FZONE">
        <xs:annotation>
          <xs:documentation>The Forecast Zone level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GASCO">
        <xs:annotation>
          <xs:documentation>The Gas Company level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GASMTR">
        <xs:annotation>
          <xs:documentation>The Gas Meter level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SAREA">
        <xs:annotation>
          <xs:documentation>The Service Area level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TZONE">
        <xs:annotation>
          <xs:documentation>The transmission Zone level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#MarketType" name="MarketType">
    <xs:annotation>
      <xs:documentation>maket type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="2DA">
        <xs:annotation>
          <xs:documentation>Two Day-Ahead market</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DAM">
        <xs:annotation>
          <xs:documentation>day ahead market</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RTM">
        <xs:annotation>
          <xs:documentation>real time market</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#PTRExecutionType" name="PTRExecutionType">
    <xs:annotation>
      <xs:documentation>Used in reports of mitigation results to indicate day-ahead or real-time mitigation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="HASP">
        <xs:annotation />
      </xs:enumeration>
      <xs:enumeration value="IFM">
        <xs:annotation />
      </xs:enumeration>
      <xs:enumeration value="RTD">
        <xs:annotation>
          <xs:documentation>Real Time Dispatch</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RTUC">
        <xs:annotation />
      </xs:enumeration>
      <xs:enumeration value="RUC">
        <xs:annotation />
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters" name="RequestGasBurnSummaryRecord">
    <xs:annotation>
      <xs:documentation>Parameters used commonly in requests.</xs:documentation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.dateTimeEnd" minOccurs="1" maxOccurs="1" name="dateTimeEnd" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Ending DateTime of the time period for which the data is requested. Data ranging from n intervals up to 31 days can be included in the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.dateTimeStart" minOccurs="1" maxOccurs="1" name="dateTimeStart" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Starting DateTime of the time period for which the data is requested. Data ranging from n intervals up to 31 days can be included in the report.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.executionType" minOccurs="1" maxOccurs="1" name="executionType" type="m:PTRExecutionType">
        <xs:annotation>
          <xs:documentation>Type of process in which the transaction applies to.</xs:documentation>
          <xs:documentation>A user may be able to query the report by only one execution type.</xs:documentation>
          <xs:documentation>Valid values: IFM, HASP, RTUC</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.marketType" minOccurs="1" maxOccurs="1" name="marketType" type="m:MarketType">
        <xs:annotation>
          <xs:documentation>Type of market in which the transaction applies to: Day-Ahead or Real-TIme Market.</xs:documentation>
          <xs:documentation>A user may be able to query the report by only one market type.</xs:documentation>
          <xs:documentation>Valid values: DAM, RTM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.GasCompanyList" minOccurs="1" maxOccurs="unbounded" name="GasCompanyList" type="m:GasCompanyList">
        <xs:annotation />
      </xs:element>
      <xs:element sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#RequestParameters.GasZoneList" minOccurs="0" maxOccurs="unbounded" name="GasZoneList" type="m:GasZone">
        <xs:annotation />
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#YesNo" name="YesNo">
    <xs:annotation />
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO">
        <xs:annotation />
      </xs:enumeration>
      <xs:enumeration value="YES">
        <xs:annotation />
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>