docs/cmri-artifacts/v1.1/GasBurnSummaryData/20171001/GasBurnSummaryData_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:a="http://langdale.com.au/2005/Message#" 
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl" targetNamespace="http://www.caiso.com/soa/GasBurnSummaryData_v1.xsd#" elementFormDefault="qualified" attributeFormDefault="unqualified" 
    xmlns="http://langdale.com.au/2005/Message#" 
    xmlns:m="http://www.caiso.com/soa/GasBurnSummaryData_v1.xsd#">
    <xs:annotation>
        <xs:documentation>v1 : Fall 2017</xs:documentation>
    </xs:annotation>
    <xs:element name="GasBurnSummaryData" type="m:GasBurnSummaryData"/>
    <xs:complexType name="GasBurnSummaryData">
        <xs:sequence>
            <xs:element name="MessageHeader" type="m:MessageHeader" minOccurs="0"/>
            <xs:element name="MessagePayload" type="m:MessagePayload"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageHeader">
        <xs:annotation>
            <xs:documentation>Message header containing descriptive information about the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TimeDate" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Application level relevant time and date for when this  instance of the message was produced.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Source" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Source system which provides data for this service. Examples include ADS, CMRI, EMS, IFM, RLC, RTM, SIBR, SLIC, External App, etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Version" type="xs:string" default="v20171001">
                <xs:annotation>
                    <xs:documentation>Date reflecting the release this latest version update was related to.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessagePayload">
        <xs:sequence>
            <xs:element name="GasBurnSummaryRecord" type="m:GasBurnSummaryRecord" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CMRIReportRecord" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#CMRIReportRecord">
        <xs:annotation>
            <xs:documentation>A superclass that captures general information regarding CMRI reports</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="executionType" minOccurs="1" maxOccurs="1" type="m:PTRExecutionType" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#CMRIReportRecord.executionType">
                <xs:annotation>
                    <xs:documentation>For Day-Ahead market: IFM, for Real-Time market: HASP or RTUC</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="marketType" minOccurs="1" maxOccurs="1" type="m:MarketType" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#CMRIReportRecord.marketType">
                <xs:annotation>
                    <xs:documentation>Type of market or process in which the curve applies to: Day-Ahead or Real-TIme Market</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GasBurnSummaryRecord" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasBurnSummaryRecord">
        <xs:annotation>
            <xs:documentation>Summary Level Gas Burn Record</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="m:CMRIReportRecord">
                <xs:sequence>
                    <xs:element name="marketEndTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#CMRIReportRecord.marketEndTime">
                        <xs:annotation>
                            <xs:documentation>End time of the market horizon in Greenwich Mean Time.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="marketStartTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#CMRIReportRecord.marketStartTime">
                        <xs:annotation>
                            <xs:documentation>Start time of the market horizon in Greenwich Mean Time.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GasZone" minOccurs="1" maxOccurs="1" type="m:GasZone" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasBurnSummaryRecord.GasZone">
                        <xs:annotation/>
                    </xs:element>
                    <xs:element name="TradeIntervalData" minOccurs="1" maxOccurs="unbounded" type="m:TradeIntervalData" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasBurnSummaryRecord.TradeIntervalData">
                        <xs:annotation/>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GasZone" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZone">
        <xs:annotation>
            <xs:documentation>The class representing the various gas zone levels for Gas Burn Data reporting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#Naming.name">
                <xs:annotation>
                    <xs:documentation>Unique name among objects owned by the same parent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="summaryLevel" minOccurs="1" maxOccurs="1" type="m:GasZoneSummaryLevel" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZone.summaryLevel">
                <xs:annotation>
                    <xs:documentation>The summary level at which the gas zone is defined.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GasZoneSummaryLevel" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#GasZoneSummaryLevel">
        <xs:annotation>
            <xs:documentation>The enumeration list to define the summary level for gas burn data.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FZONE">
                <xs:annotation>
                    <xs:documentation>The Forecast Zone level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GASCO">
                <xs:annotation>
                    <xs:documentation>The Gas Company level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GASMTR">
                <xs:annotation>
                    <xs:documentation>The Gas Meter level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAREA">
                <xs:annotation>
                    <xs:documentation>The Service Area level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TZONE">
                <xs:annotation>
                    <xs:documentation>The transmission Zone level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MarketType" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#MarketType">
        <xs:annotation>
            <xs:documentation>maket type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="2DA">
                <xs:annotation>
                    <xs:documentation>Two Day-Ahead market</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAM">
                <xs:annotation>
                    <xs:documentation>day ahead market</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTM">
                <xs:annotation>
                    <xs:documentation>real time market</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PTRExecutionType" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#PTRExecutionType">
        <xs:annotation>
            <xs:documentation>Used in reports of mitigation results to indicate day-ahead or real-time mitigation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HASP">
                <xs:annotation/>
            </xs:enumeration>
            <xs:enumeration value="IFM">
                <xs:annotation/>
            </xs:enumeration>
            <xs:enumeration value="RTD">
                <xs:annotation>
                    <xs:documentation>Real Time Dispatch</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTUC">
                <xs:annotation/>
            </xs:enumeration>
            <xs:enumeration value="RUC">
                <xs:annotation/>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeHourData" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#TradeHourData">
        <xs:annotation/>
        <xs:sequence>
            <xs:element name="gasBurn" minOccurs="1" maxOccurs="1" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#TradeHourData.gasBurn">
                <xs:annotation>
                    <xs:documentation>The gas burn data in MMcf. The gas burn data is generally a float value. However, it is added here as String to support a requirement where the market will publish "NHR" in case when the resource is associated with a gas company but doesn't have a heat curve defined.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="intervalEndTime" minOccurs="0" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#TradeHourData.intervalEndTime">
                <xs:annotation>
                    <xs:documentation>End time of the interval within the Market Run in Greenwich Mean Time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="intervalStartTime" minOccurs="1" maxOccurs="1" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#TradeHourData.intervalStartTime">
                <xs:annotation>
                    <xs:documentation>Start time of the interval within the Market Run in Greenwich Mean Time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeIntervalData" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#TradeIntervalData">
        <xs:annotation/>
        <xs:complexContent>
            <xs:extension base="m:TradeHourData"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="YesNo" sawsdl:modelReference="http://iec.ch/TC57/2003/CIM-schema-cim10#YesNo">
        <xs:annotation/>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO">
                <xs:annotation/>
            </xs:enumeration>
            <xs:enumeration value="YES">
                <xs:annotation/>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
